.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  padding-left: 10%;
  background-color: white;
  max-width: 800px;
}

.header {
    /* text-align: center; */
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.headerText {
  color: #000000;
  margin-left: 15px;
}

.description {
  /* font-size: 16px; */
  color: #000000;
  margin-left: 15px;
  flex: 1;
  padding-right: 10%;
}

.projects {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  /* display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligns items vertically */
  /* gap: 20px;  */

  display: grid;
  grid-template-columns: 200px auto; /* Title takes 150px, description takes the rest */
  align-items: start; /* Ensures vertical alignment */
  gap: 0px;
}


@media (max-width: 600px) {
  .project {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    gap: 10px; 
  }

  .description {
    /* font-size: 16px; */
    color: #000000;
    margin-left: 0px;
    flex: 1;
    /* padding-right: 10%; */
  }
}

.title {
  text-decoration: underline;
  color: #000000;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  color: #000000;
}

@media (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    margin-top: 50px;
  }
}

.image {
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
}

@media (max-width: 600px) {
  .image {
    width: 150px;
    height: 150px;
  }
}