
    .container {
      max-width: 800px;
      /* margin: "0 auto"; */
      padding: 20px;
      padding-left: 30px;
      height: 100vh;
      background-color: #FFFFFF;
    }
    .title {
      font-weight: 600;
      font-size: 1.5rem;
      color: #000000;
    }
    .header {
        font-size: 0.9rem;
        text-transform: uppercase;
        color: #cccccc;
        margin-bottom: 5px;
    }
    .video {
      width: 100%;
      height: "auto";
      margin-bottom: 20px;
    }
    .videoInvite {
      width: 30%;
      height: "auto";
      margin-bottom: 20px;
    }
    .videoInviteMobile {
      width: 80%;
      height: "auto";
      margin-bottom: 20px;
    }
    .image {
        width: 100%;
        height: "auto";
        margin-bottom: 20px;
    }
    .description {
      /* margin-bottom: 40px; */
      padding-bottom: 40px;
      background-color: #FFFFFF;
    }

    .overview {
        text-align: justify;
        margin-bottom: 10px;
    }